@font-face {
    font-family:'poppins';
    src: url(poppins-font/Poppins-Regular.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    font-family:'poppins';
}

body{
    position: relative;
}

body::before{
    content:'';
    background-image: url('imgs/fundo-body.png');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity:0.5;
}

.content {
    position: relative;
    z-index: 1;
}

.quebra-float{
    clear:both;

}
/*  style menus  */
header{
    margin:0px;
    height: auto;
}

#menus-box{
    background-color: black;
    width: 100%;
}

.logo{
    display: inline;
    margin:auto;
    width: 50px;
    margin: 25px 30px;
    ;
}
img{
    width: 40px;
    border-radius:50px;
    display:inline;
    margin: 25px 0px 25px 50px;
    border:rgb(77, 77, 77) 5px solid;
}

.item{
    display: inline;
    float: right;
    margin: 10px;
    margin-top: 25px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
   
}

#item1{
    margin-right: 50px;
    background: transparent;
    background-color: rgb(96, 96, 96);
}
#item1:hover{
    background-color: rgb(118, 118, 118);

}
#item2{
    background-color: rgb(0, 162, 65);
    transition: 0.3s ease;
    color:black;
}
#item2:hover{
    background-color: rgb(0, 123, 35);
    color: white; 
}

#item3{
    background: transparent;
    background-color: rgb(96, 96, 96);
}
#item3:hover{
    background-color: rgb(118, 118, 118);
}



/*corpo */


s
main{
    width: 100%;
}
h1, h2, h4{
    text-align: center;
    font-weight: bold;

}

#form-pgn{
    margin: auto;
    width: 40%;
    border-radius: 5px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 400px;
}
.box-input{
    width: 90%;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}

.title-box{
    font-size: 20px;
    color: white;
}

#avaliacao{
    margin-top: 10px;
    width: 40%;
    align-items: center;
}
.opcao-radio,
.opcao-checkbox{
    color:white;
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    font-size:18px;
}
#textarea-box{
    min-height: 120px;
    resize: vertical;
    padding: 0.625rem;
}

#button-enviar{
    background-color: rgb(0, 162, 65);
    transition: 0.3s ease;
    color:black;
    font-weight: bold;
}
#button-enviar:hover{
    background-color: rgb(0, 123, 35);
    color: white; 
}

#rodape{
    width: 100vw;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
#link_rodape{
    text-decoration: none;
    color: rgb(255, 155, 97);
}
#link_rodape:hover{
    text-decoration: underline;
}